.img1{
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
}

header h2{
    font-size: 230%;
    color: orange;
    font-style: italic;
    text-shadow: red 5px 1px 1px 1px;
}

header h3{
    font-size: 120%;
    font-weight: 700;
}

main h1{
    font-size: 140%;
}

h1::first-letter{
    font-size: 200%;
}

.pc{
    font-weight: bolder;
}

.fs{
    font-weight: bold;
}

footer{
    font-size: 90%;

}

a:link{
    color: rgba(255, 166, 0, 0.753);
    text-decoration: underline;
    font-weight: bold;
}

a:hover{
    color: rgba(255, 166, 0, 0.753);
    text-decoration: underline;
    font-weight: bold;
}

a:visited{
    color: rgba(255, 166, 0, 0.753);
    text-decoration: underline;
    font-weight: bold;
}

.ff{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 400px;
    margin-left: auto;
    text-align: center;
}